:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL color mode */
  --first-color: hsl(var(--hue-color),69%,61%);
  --first-color-second: hsl(var(--hue-color),69%,61%);
  --purple:#7B0068;
  --first-color-alt: hsl(var(--hue-color),57%,53%);
  --first-color-lighter: hsl(var(--hue-color),92%,85%);
  --title-color: hsl(var(--hue-color),8%,15%);
  --text-color: hsl(var(--hue-color),8%,45%);
  --text-color-light: hsl(var(--hue-color),8%,61%);
  --input-color: hsl(var(--hue-color),70%,96%);
  --body-color: hsl(var(--hue-color),60%,99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: ;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --m-0-25: 0.25rem;
  --m-0-5: .5rem;
  --m-0-75: .75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;
  --m-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Variables Dark theme ==========*/


/*========== Buttons ==========*/
.button{
  text-decoration: none;
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
 }
.button:hover{
  color: white;
  background-color: var(--first-color-alt);
}
.button_icon{
  font-size: 1.0rem;
  margin-left: var(--m-0-5);
  transition-duration:.3s;
}


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/


/*==================== REUSABLE CSS CLASSES ====================*/

.section_title{
  font-size: var(--h1-font-size);
}
.section_subtitle{
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--m-3);
}

.section_title,.section_subtitle{
  text-align: center;
}
.section{
  padding:2rem 0 4rem;
}

/*==================== LAYOUT ====================*/
.my_grid{
  display: grid;
  gap: 1.5rem;
}


/*==================== NAV ====================*/

 
@media screen and (min-width:968px) {
  :root{
   --big-font-size:3rem;
   --h1-font-size:2.25rem;
   --h2-font-size:1.5rem;
   --h3-font-size:1.25rem;
   --normal-font-size:1rem;
   --small-font-size:0.875rem;
   --smalller-font-size:0.813rem;

  }
  
}
html{
  scroll-behavior: smooth;
}
/*------------------------------------------*/
body {
   background-color: white;
  margin: 0px 0px;
  box-sizing: border-box;
 }
.contactbutton{
  background: #120E48;
  border-radius: 7px;
}
 
nav .offcanvas-body .icons ul {
  list-style-type: none;
  display: flex;
   font-size: 20px;
   margin: 0%;
   position: relative;
   padding: 0%;
   transition-duration: .3s;
}
 
nav .offcanvas-body .icons ul li:hover{
   color: #7B0068;
   cursor: pointer;

 }

 
@keyframes animatedots1 {
  0%{transform:translateX(0)  ;}
  100%{transform:translateX(-100vw)  ;}

}
@keyframes animatedots2 {
  0%{transform:translateX(0);}
  100%{transform:translateX(+100vw);}
}
 
.backgroundanimations{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.backgroundanimations .backcircle{
  position: absolute;
  top: 10vh;
  z-index: -1;
  left: 100%;
  animation: animatedots1 40s linear infinite
 }

 .backgroundanimations :nth-child(2){
  position: absolute;
  top: 40vh;
  z-index: -1;
  right: 0;
  left: 100%;
   animation: animatedots1 80s linear 32s infinite
}
.backgroundanimations :nth-child(3){
  position: absolute;
  top: 20vh;
  z-index: -1;
  right: 0;
  left: 100%;
  animation: animatedots1 75s ease 12s infinite
}
.backgroundanimations :nth-child(4){
  position: absolute;
  top: 60vh;
  z-index: -1;
  right: 100%;
  animation: animatedots2 50s linear 0s infinite
}
.backgroundanimations :nth-child(5){
  position: absolute;
  top: 90vh;
  z-index: -1;
  right: 100%;
    animation: animatedots2 50s linear 20s infinite
}
.backgroundanimations :nth-child(6){
  position: absolute;
  top: 40vh;
  z-index: -1;
  left: 100%;
  animation: animatedots2 80s linear 45s infinite
}
.backgroundanimations :nth-child(7){
  position: absolute;
  top: 55vh;
  z-index: -1;
  right: 100%;
  animation: animatedots2 30s linear 0s infinite
}

#scrolling{
  background-color:white !important;
  box-shadow: 0px -1px 6px 4px rgba(0,0,0,0.23);
  transition-duration: .3s;
}
#notscrolling{
  background-color:transparent !important;
  transition-duration: .3s;
}

/*----------------------frontpage------------------------------*/

#frontpage{
  z-index: 2;
  background-image: url('../Components/Images/front.svg');
  background-repeat: none;
  background-size: cover;
 }
.stack{
  margin-top: 25vh;
}
.profile{
  margin-top: 10vh;
}
 
.home h1{
  font-size: 3.2em;
}
.home .frontbuttons div{
  margin: 10px 10px;
}
#parenthire{
  background: linear-gradient(90deg, #120E48 0%, #7B0068 100%);
  box-shadow: -3px 3px 3px 1px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  padding: 3px 3px ;
 }

 #parenthire a{
   text-decoration: none ;
 }

#hireme{
  color: black;
  border-radius: 7px;
  background:white;
  text-align: center;
  margin: 2px 2px;
  padding: 10px 10px ;
  position: relative;
  }
 #hireme:after{
  color: white;
  display: flex;
  justify-content: center;
  content: "Hire Me";
  align-content: center;
  align-self: center;
  align-items: center;
  letter-spacing:15px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  transition-duration: .3s;
  opacity: 0;
  background: linear-gradient(90deg, #120E48 0%, #7B0068 100%); 
 }

#hireme:hover:after{
  color: white !important;
  opacity: 1;
  letter-spacing:0px;
}
  
#frontdownload{
  background: linear-gradient(90deg, #120E48 0%, #7B0068 100%); 
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
  color: white;
  transition-duration: .3s;
  padding: 15px 16px ;
  border: none !important;
  z-index: 3;
  
}
#frontdownload:hover{
  transition-duration: .25s;
  transform: scale(1.08);
 }
.stack span{
  color:#7B0068;

}


.contactbutton{
  overflow: hidden;
}
.contactbutton:hover{
  background-color: #576574 ;
  transition-duration: 0.000001s;


}
.contactbutton i{
   animation-duration:2s;
}
.contactbutton:hover i{
  animation-name: fly;
  background-color: #576574 ;
}
 
@keyframes fly{
  0%{transform:    rotate(0deg)}
  30%{transform:   rotate(40deg)}
  50%{transform:   translateX(140px)      rotate(40deg)}
  55%{transform:   translate(150px,150px) rotate(40deg)}
  60%{transform:   translate(-150px,150px)   rotate(0deg)}
  100%{transform:  translate(0px,0px)   rotate(0deg)}
}

.stack span{
  position: relative;
  display: inline-block;
  font-weight: 700;

}
.stack span:after{
  bottom: 0;
  left: 0;
  content: '';
  background-color: #7B0068;
  position: absolute;
  height: 3px;
  width: 100%;
  
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.stack span:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav ul li a{
  color: black !important;
  position: relative;
  margin: 0px 8px;
  display: inline-block;
}

nav ul li a:after{
  bottom: 0;
  left: 0;
  content: '';
  background-color: #7B0068;
  position: absolute;
  height: 3px;
  width: 100%;
  
  transform: scaleX(0);
  transform-origin: bottom ;
  transition: transform 0.2s ease-out;
}
nav ul li a:hover:after{
  transform: scaleX(1);
  transform-origin: bottom ;
}

.introduce{
   background-image: url('../Components/Images/second\ section.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.introduce .d-flex{
  padding-bottom: 10vh;
  padding-top: 10vh;
}
.introduce .d-flex .text{
  padding-top: 100px;
}
.introdownload{
  padding: 15px 15px !important;
}
 
.projectscompleted{
  background-image: url('../Components/Images/projects.svg');
  background-size: cover;
  height: 460px;
  background-repeat: no-repeat;
}
.projectscompleted .row .col-md {
  margin-top: 150px;
  text-align: center;
  color: white;
  padding-bottom: 80px;
}
.projectscompleted .row i {
  margin-bottom: 20px;
   font-size: 100px;
}

/*-----------------------------------------------------------------------------*/
.Expertise{
  height: 500px;
  padding-top: 100px;
}

.Expertise .col-md-5{
  text-align: left;
  margin-top: 50px;
  padding-left: 50px;
}
.Expertise span img{
  height: 50px;
  width: 50px;
}

.Expertise h3{
display: flex;  
align-items: center;
}
/*----------------------------------------------------------------------------------*/

.testimonials{
  height: 120vh;
  background-image: url('../Components/Images/Vector\ 5.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
 
.testtext{
  padding-top: 300px;
  color: white;
}
.mycarousel{
  color: white;
}

.mycarousel img{
   height: 150px;
   width: 150px;
  
}
.quote{
  display: flex;
  justify-content: center;
   color: white;
  font-size: 1.2rem;
  
}
.quote i{
   font-size: 50px;
}
.quote p{
  margin: 20px 20px;
}

.stars{
  margin-right: 30px;
     color: #fdcc0d;
}
.stars i{
  margin-left: 5px;
  font-size: 1.2rem;
}
.mycarousel img{
  margin-left: 0px;
}
.stars{

   text-shadow: 0 0 10px #fdcc0d,0 0 0px #fdcc0d,0 0 5px #fdcc0d,0 0 100px #fdcc0d;
}
.stars i:hover{
  color: white;
	transform: translateY(-4px);
}


/*----------------CONTACT US----------------------------*/

.Contact{
  background-color: var(--body-color);
  color: var(--title-color);
   
}
.contact_info{
  margin-bottom: var(--m-2);
  display: flex;
}
.contact_icon{
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--m-0-75);
}
.contact_title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
.contact_subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.contact_content{
  background-color: var(--input-color);
  border-radius: .5rem;
  margin-bottom: var(--m-1-5);
  padding: .75rem 1rem .25rem;
}
.contact_label{
  font-size: var(--smalller-font-size);
  color: var(--title-color);
}
.contact_input{
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-size: var(--normal-font-size);
  border:none;
  outline: none;
  padding: .25rem .5rem .5rem 0;

}

/*--------------------------------FOOTER--------------------------------------*/

.footer{
  background-color: black !important;
}
.footer_icons{
  font-size: 1.2rem;
}
.footer_icons a:nth-child(1):hover{
  color: #1877F2 !important;
}
.footer_icons a:nth-child(2):hover{
  color: #25D366 !important;
}
.footer_icons a:nth-child(3):hover{
  color: #0099FF !important;
}
.footer_icons a:nth-child(4):hover{
  color: #E4405F !important;
}
.footer_icons a:nth-child(5):hover{
  color: #0A66C2 !important;
}

footer .nav-item{
  list-style-type: none;
}
footer .nav-item a{
  color: grey;
}
footer .nav-item a:hover{
  color: white;
}

  
 