
@media screen and (max-width: 768px) {
  nav .offcanvas-body ul li{
    margin: 0px 10px;
  }
  nav .offcanvas-body {
    flex-direction: column;
  }
  nav .offcanvas-body ul{
    justify-content: start !important;
  }
  nav .offcanvas-body ul li{
    text-align: center;
  }
  .home img{
    width: 80%;
    height: auto;
  }
  .Expertise{
    height: 150vh;
  }
  .projectscompleted{
     height: 270vh;
    background-image: none;
    background-color: #8F2780;
  }
  .projectscompleted .row .col-md{
     
  margin-top: 15px;
  padding-bottom: 30px;
 }

 .projectscompleted .row .col-md :first-child{
  padding-top: 40px;
 }

 .projectscompleted .row i {
  margin-bottom: 10px;
   font-size: 60px;
}
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
  .home img{
    width: 160%;
   }
   #frontdownload {
     width: 45% ;
   }
   #parenthire {
    width: 45% ;
  }
  #frontpage{
     
    height: 100%;
  }
  .Expertise{
    height: 110vh;
  }
}
@media screen and (min-width: 1200px) {
  .home img{
    width: 180%;
   }
   #frontpage{
     
    height: 100vh;
  }
}



